footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 2% 5%;
  top:100vh;
  opacity: 0;
  transition: ease 0.5s;
  visibility: hidden;
}
footer.show {
  opacity: 1;
  visibility: visible;
}
#socials{
  position: relative;
  transform: translateY(-150%);
}
.socialIcon {
  margin-top: 2.5rem;
  transition: 0.5s;
}
.socialIcon svg{
  height: 2rem;
}
.socialIcon:hover {
  transform: scale(1.5);
}
.socialIcon:hover .b {
  fill: var(--white-one);
}
