footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 2% 5%;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  cursor: none;
  bottom: 0;
  transition: ease 0.5s;
}
footer.show {
  opacity: 1;
  visibility: visible;
}
.socialIcon {
  transition: 0.5s;
  margin-top: 2.5rem;
}
.socialIcon svg{
  height: 2rem;
}
.socialIcon:hover {
  transform: scale(1.5);
}
.socialIcon:hover .b {
  fill: var(--white-one);
}
