footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 2% 5%;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  cursor: none;
  bottom: 0;
  transition: ease 1s;
}
footer.show {
  opacity: 1;
  visibility: visible;
}
#githubIcon,
#linkedinIcon,
#instagramIcon,
#resumeIcon {
  height: 2rem;
  margin-bottom: 2rem;
  transition: 0.5s;
}
#githubIcon:hover,
#linkedinIcon:hover,
#instagramIcon:hover,
#resumeIcon:hover {
    transform: scale(1.5);
}