/* Full Page */
#fullPage {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
  visibility: hidden;
}

#fullPage.show {
  opacity: 1;
  visibility: visible;
}

.block {
  height: auto;
  width: 100vw;
  padding-left: 15vw;
}

h1 {
  font-family: var(--secondary-font);
  font-size: 2rem;
  color: var(--white-two);
}

#aboutOne {
  height: 100vh;
  padding: 0;
}

.showTop {
  animation: showTopContent 1s forwards;
}

.showBot {
  animation: showBotContent 0.5s 0.5s forwards;
}

.aboutOneContent {
  position: relative;
  height: 100%;
  width: 100%;
}

.topContent,
.botContent {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 100%;
  overflow: hidden;
}

.topContent {
  top: 0;
}

.botContent {
  bottom: 0;
}

.topContent div {
  position: absolute;
  bottom: 0;
  height: auto;
  color: var(--white-two);
  font-family: var(--primary-font);
  font-size: 8rem;
  transform: translate(0, 100%);
}

.botContent div {
  position: absolute;
  top: 0;
  height: auto;
  color: var(--blue);
  font-family: var(--secondary-font);
  font-size: 3rem;
  transform: translate(0, -100%);
}

@keyframes showTopContent {
  0% {
    transform: translate(0, 100%);
  }

  100% {
    transform: translate(0, 20%);
  }
}

@keyframes showBotContent {
  0% {
    transform: translate(0, -100%);
  }

  100% {
    transform: translate(0, -20%);
  }
}

#aboutTwo {
  padding: 10rem 0 20rem 15rem;
}

.aboutMeParagraph {
  color: darkgray;
  opacity: 0.2;
  font-family: var(--primary-font);
  font-size: 4rem;
}

.mask {
  opacity: 1;
  color: var(--blue);
  position: absolute;
  z-index: 1;
}

.aboutTwoLineMask {
  width: 0%;
  white-space: nowrap;
  overflow: hidden;
}

#aboutThree {
  padding: 0 0 20rem 15rem;
}

.passionsScroll {
  width: 80rem;
  font-family: var(--primary-font);
  font-size: 10rem;
  color: var(--blue);
  overflow: hidden;
  white-space: nowrap;
}

.aboutThreeLineOne {
  transform: translateX(-213%);
}

.aboutThreeLineTwo {
  transform: translateX(-204%);
}

.projectComponent {
  height: 100vh;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.projectTitle {
  font-family: var(--primary-font);
  font-size: 5rem;
  color: var(--blue);
}

.projectOneLine {
  font-family: var(--secondary-font);
  font-size: 3rem;
  color: var(--white-two);
}

.projectTechnologies {
  font-family: var(--secondary-font);
  font-size: 1.5rem;
  color: darkgray;
}

.projectButtonsWrapper {
  margin-top: 0.8rem;
}

.projectButton {
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  font-family: var(--primary-font);
  font-size: 1rem;
  background-color: lightgray;
  transition: transform 0.5s;
  border-radius: 0.5rem;
}

.projectButton:hover {
  transform: scale(1.2);
}

.projectDescription {
  width: 60vw;
  margin-top: 2rem;
  font-size: 2rem;
  color: var(--white-two);
}

#contact {
  padding-bottom: 6rem;
}

#contactText {
  font-family: var(--primary-font);
  color: var(--blue);
  font-size: 8rem;
}

#contactSubtext {
  font-family: var(--secondary-font);
  color: var(--white-two);
  font-size: 1.5rem;
  transform: translateY(-2rem);
}

#contactLinks {
  display: flex;
  flex-direction: column;
}

#contactLinks a {
  width: 30rem;
  margin: 1rem 0;
  padding-left: 1rem;
  font-family: var(--secondary-font);
  font-size: 3rem;
  color: var(--blue);
}

.bgSlider {
  background-size: 400%;
  background-image: linear-gradient(
    90deg,
    var(--black-one) 0%,
    var(--black-one) 50%,
    var(--white-two) 50%,
    var(--white-two) 100%
  );
  border-radius: 1rem 2rem 2rem 1rem;
  transition: 0.4s ease-out;
}

.bgSlider:hover {
  background-position: -50% 100%;
}

#contactLinks a:hover {
  color: var(--black-one);
}
