/* Full Page */
#fullPage {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s;
}
#fullPage.show {
  opacity: 1;
  visibility: visible;
}
.block {
  width: 100vw;
  margin-left: 15vw;
}
#fullWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#aboutOne {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
h1 {
  color: var(--white-two);
  font-family: var(--secondary-font);
  font-size: 2rem;
  position: relative;
}
@keyframes showTopContent {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 20%);
  }
}
@keyframes showBotContent {
  0% {
    transform: translate(0, -100%);
  }
  100% {
    transform: translate(0, -20%);
  }
}
.showTop {
  animation: showTopContent 1s forwards;
}
.showBot {
  animation: showBotContent 0.5s 0.5s forwards;
}
.aboutOneContent {
  height: 100%;
  position: relative;
  width: 100%;
}
.aboutOneContent div {
  height: 50%;
  display: flex;
  overflow: hidden;
  position: absolute;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.topContent div {
  height: auto;
  color: var(--white-two);
  font-family: var(--primary-font);
  font-size: 8rem;
  position: absolute;
  bottom: 0;
  transform: translate(0, 100%);
}
.botContent div {
  height: auto;
  color: var(--blue);
  font-family: var(--secondary-font);
  font-size: 3rem;
  position: absolute;
  top: 0;
  transform: translate(0, -100%);
}
.aboutOneContent div.topContent {
  top: 0;
}
.aboutOneContent > div.botContent {
  bottom: 0;
}
#aboutTwo{
  height: auto;
  padding: 5vh 0 30vh 0;
  width: 75vw;
}
.aboutMeParagraph {
  color: darkgray;
  font-family: var(--primary-font);
  font-size: 4rem;
}
.mask{
  color: var(--blue);
  position: absolute;
  width: 75vw;
}
#aboutThree{
  height: 80vh;
}
.passionsScroll{
  font-family: var(--primary-font);
  font-size: 10rem;
  white-space: nowrap;
  width: 70vw;
  overflow:auto;
  color: var(--blue);
}
.aboutThreeLine{

}
#projects{
  height: 200vh;
  position: relative;
}
.projectComponent{
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.projectTitle{
  font-family: var(--primary-font);
  font-size: 4rem;
  color: var(--blue);
}
.projectOneLine{
  font-family: var(--secondary-font);
  font-size: 2rem;
  color: var(--white-two);
}
.projectTechnologies{
  font-family: var(--secondary-font);
  font-size: 1rem;
  color: darkgray;
}
.projectButtonsWrapper{
  margin-top: 0.8rem;
}
.projectButton{
  border: none;
  padding: 0.5rem 1rem;
  background-color: lightgray;
  border-radius: 0.5rem;
  font-family: var(--primary-font);
  font-size: 1rem;
  margin-right: 1rem;
}
.projectDescription{
  margin-top: 2rem;
  width: 60vw;
  color: var(--white-two);
  font-size: 2rem;
}
#contact{
  height: 70vh;
}