@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@600&family=Cormorant+Unicase:wght@700&display=swap");

:root {
  --blue: #2179aa;
  --black-one: #161616;
  --black-two: #2e2e2e;
  --white-one: #d9d9d9;
  --white-two: #ebebeb;

  --primary-font: "Akshar", sans-serif;
  --secondary-font: "Cormorant Unicase", sans-serif;
  cursor: none;
}
body {
  background-color: var(--black-one);
  padding: 0;
  margin: 0;
  overflow: hidden;
}
h1 {
  color: var(--blue);
  font-family: var(--primary-font);
  font-size: 200px;
  margin: 0 0 0 15rem;
  padding: 10rem;
}
#cursor {
  position: fixed;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--white-two);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transform: scale(1);
  transition: transform 0.2s;
}
section{
  height: 100vh;
}
footer {
  position: fixed;
  z-index: 1;
}
/* uncomment to hide scrollbar */
::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}
