header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 2% 5%;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  cursor: none;
  transition: ease 1s;
  bottom: 100%;
}
header.show {
  opacity: 1;
  visibility: visible;
}
#headerWrapper{
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  transform: translateY(210%);
  pointer-events: none;
}
#homeIcon {
  height: 4rem;
  transition: 0.3s;
  pointer-events: auto;
}
#homeIcon:hover {
  transform: scale(1.5);
}
#nav {
  display: flex;
  flex-direction: column;
  align-items: end;
  pointer-events: auto;
}
#nav a {
  color: var(--blue);
  font-family: var(--primary-font);
  font-size: 1.2rem;
}
.listActive {
  position: absolute;
  color: var(--white-two);
  transform: translate(0, -55%);
  transition: translate 0.5s;
  visibility: hidden;
  clip-path: inset(100% 0 0 0);
}
.listInactive.active {
  visibility: hidden;
  transform: translate(0, 55%);
  transition: translate 0.5s;
}
.listActive.active {
  transform: translate(0, 0);
  transition: 0.5s;
  visibility: visible;
  clip-path: inset(0 0 0 0);
}
