#loadPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
  visibility: hidden;
}
#loadPage.show{
  opacity: 1;
  visibility: visible;
}
#loadButton {
  background-color: var(--black-one);
  color: var(--white-one);
  padding: 1rem 2.5rem;
  margin-top: 0.5rem;
  font-family: var(--primary-font);
  font-size: 1.2rem;
  border-radius: 1rem;
  opacity: 0;
  transition: background-color 0.4s, color 0.4s;
  animation: loadInAnimation 0.5s 1s ease forwards;
}
#loadButton:hover {
  background-color: var(--blue);
}
.cat {
  max-width: 6rem;
  opacity: 0;
  animation: loadInAnimation 1s 0.5s ease forwards;
}
.catBackground{
  position: absolute;
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  background-color: #eeeeee;
}
@keyframes loadInAnimation {
  0%{
    transform: translateY(10%);
    opacity: 0;
  }
  100%{
    transform: translateY(0%);
    opacity: 1;
  }
}